body {
    overflow: hidden;
    background-color: rgb(222, 222, 228);
}
.logo {
    display: block;
    height: 50px;
}
.sidebar {
    height: 90vh;
}
.text-gray {
    color: gray;
}
.bg-custom {
    background: #00356A !important;
}
.text-custom {
    color: #00356A;
}